@import "../../_globalColor";

.meter {
  height: 20px;
  position: relative;
  background: $progressBarBackground;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin-top: 5px; /* Added spacing from label */
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $progressBarSpanBG;
  position: relative;
  overflow: hidden;
}
.skill {
  margin-bottom: 20px;
}
.skill p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.skill-bars {
  width: 100%;
}
.skills-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
  align-items: center;
}
.skills-container > * {
  flex: 1;
  margin-bottom: 30px;
}
.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}

/* Media Query */

@media (max-width: 1456px) {
  .skills-image {
    display: none;
  }
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .skills-bar {
    width: 100%;
  }
  .skills-image {
    display: none;
  }
  .skill p {
    font-size: 16px;
  }
}

