@import "../../_globalColor";

.experience-card {
  position: relative;
  background-color: $lightBackground2;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
}

.experience-card-dark {
  position: relative;
  background-color: $darkBackground;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
}

.experience-card:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}

.experience-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: $experienceCardBannerLG;
  border-radius: 10px 10px 0px 0px;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.experience-div-company {
  background: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.experience-text-company {
  text-align: center;
  padding: 1rem;
  margin: 0;
  color: $lightBackground1;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.experience-roundedimg {
  position: absolute;
  object-fit: contain;
  background: #fff;
  padding: 5px;
  left: 50%;
  transform: translateX(-50%);
  top: 8rem;
  width: 7rem;
  height: 7rem;
  box-shadow: 0 0.5rem 1rem $lightBoxShadowDarker;
  border-radius: 50%;
  z-index: 5;
}

.experience-text-details {
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
}

.experience-text-details ul {
  padding-left: 20px;
  margin-top: 20px;
  list-style-type: disc;
  text-align: left;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-banner {
    height: 10rem;
  }
  .experience-roundedimg {
    top: 6.5rem;
    width: 6rem;
    height: 6rem;
  }
  .experience-text-role {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .experience-text-details {
    padding-top: 3.5rem;
  }
  .experience-text-role {
    font-size: 20px;
  }
  .experience-text-company {
    font-size: 24px;
  }
}